.marks-drawings__wrapper {
  margin: 0 auto;
  padding-top: 30px;
  max-width: 1200px;
  text-align: center;
}

.marks-drawings__heading {
  color: white;
  font-size: 18px;
}

.marks-drawing__img {
  max-width: 1000px;
}
