@font-face {
  font-family: 'Brewmaster';
  src: url('./fonts/brewmaster-gothic-webfont.woff2') format('woff2'), url('./fonts/brewmaster-gothic-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Saira';
  src: url('./fonts/sairaextracondensed-bold.woff2') format('woff2'), url('./fonts/sairaextracondensed-bold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Saira';
  src: url('./fonts/sairaextracondensed-regular.woff2') format('woff2'), url('./fonts/sairaextracondensed-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Saira';
  src: url('./fonts/sairaextracondensed-light.woff2') format('woff2'), url('./fonts/sairaextracondensed-light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}
