//
// Simple html-level setup.
//

html {
  font-family: 'Saira', Arial, sans-serif;
  font-size: responsive 14px 16px;
  color: $colour-body-copy;
  line-height: 1.5;
  min-height: 100%;
  background: #444242;
}
