$headings: (
  h1: (
    font-sizes: [56px, 72px],
    line-height: 1.2
  ),
  h2: (
    font-sizes: [24px, 28px],
    line-height: 1.2
  ),
  h3: (
    font-sizes: [21px, 24px],
    line-height: 1.3
  ),
  h4: (
    font-sizes: [19px, 21px],
    line-height: 1.286 // 27px
  ),
  h5: (
    font-sizes: [17px, 19px],
    line-height: 1.4
  ),
  h6: (
    font-sizes: [16px, 16px],
    line-height: 1.4
  )
);
