@import '../../../styles/settings/settings.scss';
@import '../../../styles/tools/tools.scss';

// ==========================================================================
// Page template
// ==========================================================================

.site-main {
  overflow: hidden;
  max-width: 1366px;
  margin: 0 auto;
}

//
// Footer
// ==========================================================================

.site-footer {
  @include below(small) {
    margin-top: 131px;
  }

  @include above(small) {
    margin-top: 136px;
  }
}
